.Scale {
	border: 1.25px solid #969ba3;
	border-top: none;
	color: #969ba3;
	position: fixed;
    bottom: 40px;
    right: 390px;
	font-weight: 700;
	height: 20px;
	transition: all 0.5s ease;
	text-align: center;
	user-select: none;
	width: 100px;
	z-index: 3;

}
@media screen and (max-width: 700px) {
    .Scale {
		position: absolute;
		bottom: 20px;
		right: 20px;
    }
}