.ControlPanel {
	background: linear-gradient(#1f282f, #000000);
	color: white;
	display: inline-block;
	float:right;
	font-weight: bold;
	height: 100%;
	right: 0;
	width: 350px;
	user-select: none;
}

.Sidebar-titles {
	color: #969ba3;
	padding: 25px 0 10px 0;
}

.bg-button {
	background: #009edd;
	color: red;
}
.Buttons {
	margin:auto;
	text-align: center;
}
@media screen and (max-width: 700px) {
    .ControlPanel {
    	display: block;
    	height: 300px;
    	width: 100%;
    }
}
/*  #969ba3 FONT COLOR GRAY*/
/*  #009edd BLUE BUTTON COLOR*/